name: CI
on:
  pull_request:
  push:
    branches-ignore:
    - dependabot/*
    - renovate/*
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version:
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        - '3.3'
        rails-version:
        - '7.0'
        - '7.1'
        - '7.2'
        exclude:
        - ruby-version: '2.7'
          rails-version: '7.2'
        - ruby-version: '3.0'
          rails-version: '7.2'
    services:
      postgres:
        image: manageiq/postgresql:13
        env:
          POSTGRESQL_USER: root
          POSTGRESQL_PASSWORD: smartvm
          POSTGRESQL_DATABASE: activerecord_id_regions_test
        options: "--health-cmd pg_isready --health-interval 2s --health-timeout 5s --health-retries 5"
        ports:
        - 5432:5432
    env:
      TEST_RAILS_VERSION: "${{ matrix.rails-version }}"
      PGHOST: localhost
      PGUSER: root
      PGPASSWORD: smartvm
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby-version }}"
        bundler-cache: true
      timeout-minutes: 30
    - name: Run tests
      run: bundle exec rake
